.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: inherit;
  border: 2px solid #0078d4;
  color: #0078d4;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px; /* Changed to 25px for a rounded rectangle shape */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  height: 40px; /* Adjusted for a more rectangular shape */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #e6f2ff;
  color: #005a9e;
}

.buttonText {
  font-weight: 600;
}
